.container{
    width: 290px;
    height: 270px;
    margin-top: 10px;
    display: flex;
    border-radius: 15px;
    text-align: center;
    justify-content: space-between;
}

.text1{
    color:rgba(134, 132, 135, 1.00);
}
.text2{
    color: rgba(252, 255, 255, 1.00);
}
.wrapper{
    display: flex;
    width: 350px;
    margin-left: -30px;

}

@media screen and (max-width:768px){
.container{
    width: 200px;
    height: 200px;
    margin-top: 80px;
}
}
@media screen and (max-width: 480px){
    .container{
        width: 100px;
        height: 180px;
        margin-top: 10px;
        margin-left: -10px;
    }
    .wrapper{
        margin-top: -10px;
        width: 150px;
        margin-left: -7.5px;
    
    }
    .text1 {
        font-size: 0.7rem;
        width: 100px;
    }
    .text2{
        font-size: 0.7rem;
        width: 100px;
    }

}