.container{
display: grid;
    width: 700px;
    height: 250px;  
  grid-template-columns: repeat(3,1fr);
;
align-items: center;
}
.wrapper1{
    font-size:larger;
    width: 200px;
    height: 200px;
 color: rgba(252, 255, 255, 1.00);
    border-radius: 25px;
    background:rgba(0, 195, 154, 1.00);
}
.wrapper2{
    font-size:larger;
    width: 200px;
    height: 200px;
   color: rgba(15, 15, 13, 1.00);
    border-radius: 25px;
    background: rgba(255, 192, 60, 1.00);
}
.wrapper3{
    font-size:larger;
    width: 200px;
    height: 200px;
   color: rgba(252, 255, 255, 1.00);
    border-radius: 25px;
    background: rgba(254, 109, 121, 1.00);
}
.text{
    text-align: center;
margin-top: 40px;
}

@media screen and (max-width: 1024px){
    .container{
       
        width: 480px;
        margin-left: 20px;
    }
    .wrapper1{
    width: 150px;
    height: 150px;
}
.wrapper2{
    width: 150px;
    height: 150px;
}
.wrapper3{
    width: 150px;
    height: 150px;
}
}
@media screen and (max-width:768px){
    .container{
        width: 150px;
        height: 325px;
        display: grid;
        grid-gap:10px;
        grid-template-columns: 1fr;
        margin-top: 220px;
        margin-left: 35px;
    }
    .wrapper1{
        width: 200px;
        height: 100px;
    }
    .wrapper2{      
        width: 200px;
        height: 100px;
    }
    .wrapper3{
        width: 200px;
        height: 100px;
    }
    .text{
        font-size: 1.2rem;
        margin-top: 20px;
    }
}


@media screen and (max-width:480px){
  .container{
    display: inline-block;
    width: 150px;
    height: 200px;
    margin-top: 140px;
    margin-left: 0px;
  }
    .text{
        margin: 10px;
        width: 100px;
        font-size: 1rem;
        margin-left: -1px;
  }
    .wrapper1{ 
        width:100px;
        height: 66px;
        border-radius: 15px;
    }
    .wrapper2{
        width: 100px;
        height: 66px;
        border-radius: 15px;
    }
    .wrapper3{
        width: 100px;
        height: 66px;
        border-radius: 15px;
    
    }
}